.root {
    -fx-background-color: linear-gradient(lightsteelblue, aliceblue, lightgray, aliceblue, lightgray, aliceblue, lightgray, lightsteelblue);
    -fx-font-family: "Courier New";
    -fx-padding: 50;
}

#title {
    -fx-font-weight: normal;
    -fx-font-size: 50;
    -fx-effect: dropshadow(three-pass-box, gray, 10, 0.5, 0, 0);

}
.label {
    -fx-background-color: lightsteelblue;
    -fx-background-radius: 0;
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-border-color: ghostwhite;
    -fx-border-width: 1px;
    -fx-font-weight: normal;
    -fx-font-size: medium;
}

.label:hover {
    -fx-background-color: linear-gradient(lightgray, lightsteelblue);
}

.button {
    -fx-background-color: lightsteelblue;
    -fx-text-fill: black;
    -fx-background-radius: 20;
    -fx-border-style: none;
    -fx-font-size: large;
    -fx-effect: dropshadow(one-pass-box, black, 4, 1, 0, 0);
}

.button:hover {
    -fx-background-color: linear-gradient(lightgray, lightsteelblue);
}

.button:pressed {
	-fx-background-color: white;
}

#Reset {
    -fx-background-color: mistyrose;
}

#Reset:hover {
    -fx-background-color: linear-gradient(lightgray, mistyrose);
}

#Reset:pressed{
	-fx-background-color: white;
}

.table-view {
    -fx-background-color: ghostwhite;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(three-pass-box, gray, 18, 0.5, 0, 0);
}
